@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
